@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .responsive-container {
    padding: 8px;
  }

  .button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .header, .footer {
    height: 40px;
  }
}

@layer base {
  body {
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('/public/imgPhoto/665373f6-de3c-43c1-a77d-96a6ac64f95d.jpeg');
  }

  * {
    @apply bg-transparent;
  }
}

